<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{title}}</span>
        </div>
        <div class="panel-body">
            <form class="form" @submit.prevent="save()">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Company</label>
                            <input type="text" class="form-control" v-model="form.company">
                            <small class="text-danger" v-if="errors.company">{{errors.company[0]}}</small>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" v-model="form.name">
                            <small class="text-danger" v-if="errors.name">{{errors.name[0]}}</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" v-model="form.email">
                            <small class="text-danger" v-if="errors.email">{{errors.email[0]}}</small>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" v-model="form.phone">
                            <small class="text-danger" v-if="errors.phone">{{errors.phone[0]}}</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Address</label>
                            <p>
                                <textarea cols="40" rows="5" v-model="form.address"></textarea>
                            </p>
                            <small class="text-danger" v-if="errors.address">{{errors.address[0]}}</small>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" :disabled="isSending"><i v-if="isSending" class='fa fa-spinner fa-spin'></i>Save</button>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                isSending: false,
                title: 'Create',
                form: {},
                errors: {},
                initialize: '/api/customer/create',
                store: '/api/customer',
                method: 'post',
                redirect: '/admin/customer',
                id: this.$route.params.id
            }
        },
        created() {
            if(this.$route.meta.mode === 'edit') {
                this.title = 'Edit';
                this.initialize = '/api/customer/' + this.id + '/edit';
                this.store = '/api/customer/' + this.id;
                this.method = 'put';
            }
            this.fetchData();
        },
        watch: {
            '$route': 'fetchData'
        },
        computed: {

        },
        methods: {
            fetchData() {
                this.$http.get(this.initialize)
                    .then(res => this.form = res.data.form)
                    .catch(error => console.log(error))
            },
            save() {
                this.isSending = true;
                this.$http[this.method](this.store, this.form)
                    .then(response => {
                        if(response.data.saved === true) {
                            this.$router.push(this.redirect);
                        }
                    })
                    .catch(error => this.errors = error.data)
                    .finally(() => this.isSending = false)
            }
        }
    }
</script>
<style scoped>

</style>