<template>
   <div>
       <div class="panel panel-default" v-if="isLoading">
           <div class="panel-heading">
               Loading ......
           </div>
       </div>
       <div class="panel panel-default" v-else>
           <div class="panel-heading">
               <span class="panel-title">Customer ---- Click vào từng sản phẩm để xem, sửa, xóa</span>
               <div>
                   <button class="btn btn-primary btn-sm" @click="$router.push('/admin/customer/create')">Create</button>
                   <button class="btn btn-success btn-sm" @click="filterShow = !filterShow">F</button>
               </div>
           </div>
           <div class="panel-body">
               <div class="filter row" v-if="filterShow">
                   <div class="filter-column">
                       <select class="form-control" v-model="params.search_column">
                           <option v-for="column in filters" :value="column">{{column}}</option>
                       </select>
                   </div>
                   <div class="filter-operator">
                       <select class="form-control" v-model="params.search_operator">
                           <option v-for="(operator, key) in operators" :value="key">{{operator}}</option>
                       </select>
                   </div>
                   <div class="filter-input">
                       <input type="text"
                              class="form-control"
                              v-model="params.search_query_1"
                              @keyup.enter="fetchData">
                   </div>
                   <div class="filter-input" v-if="params.search_operator === 'between'">
                       <input type="text"
                              class="form-control"
                              v-model="params.search_query_2"
                              @keyup.enter="fetchData">
                   </div>
                   <div class="btn">
                       <button class="btn btn-primary" @click.prevent="fetchData">Filter</button>
                   </div>
               </div>
               <div class="table-responsive">
                   <div class="data-table">
                       <table class="table table-striped table-bordered">
                           <thead>
                           <tr>
                               <th>ID</th>
                               <th>Name</th>
                               <th>Company</th>
                               <th>Email</th>
                               <th>Phone</th>
                               <th>Address</th>
                               <th>Created_at</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr v-for="item in model.data" @click="$router.push('/admin/customer/' + item.id)">
                               <td>{{item.id}}</td>
                               <td>{{item.name}}</td>
                               <td>{{item.company}}</td>
                               <td>{{item.email}}</td>
                               <td>{{item.phone}}</td>
                               <td>{{item.address}}</td>
                               <td>{{item.created_at}}</td>
                           </tr>
                           </tbody>
                       </table>
                       <div class="fetching" v-if="isFetching">
                           <div class="row">
                               <div class="col-md-6 col-md-offset-3">
                                   <div class="progress">
                                       <div class="progress-bar progress-bar-striped active" role="progressbar"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
           <div class="panel-footer pagination-footer">
               <div class="pagination-item">
                   <span>Per Page: </span>
                   <select v-model="params.per_page" @change="fetchData">
                       <option value="10">10</option>
                       <option value="15">15</option>
                       <option value="25">25</option>
                       <option value="50">50</option>
                   </select>
               </div>
               <div class="pagination-item">
                   <small>Showing from {{model.from}} to {{model.to}} of {{model.total}}</small>
               </div>
               <div class="pagination-item">
                   <span>Current Page:</span>
                   <input type="text" class="pagination-input" v-model="params.page" @keyup.prevent="fetchData">
                   <span>of {{model.last_page}}</span>
               </div>
               <div class="pagination-item">
                   <button class="btn btn-default" :disabled="model.prev_page_url === null" @click="prev()">Prev</button>
                   <button class="btn btn-default" :disabled="model.next_page_url === null" @click="next()">Next</button>
               </div>
           </div>
           <div class="panel-footer pagination-footer">
               <div class="pagination-item">
                   <p>Number pagination</p>
               </div>
               <div class="pagination-item">
                   <ul class="pagination">
                       <li :class="[model.prev_page_url === null ? 'disabled' : '']"><a @click="prev()">&laquo;</a></li>
                       <li :class="[model.current_page === n ? 'active' : '']" v-for="n in model.last_page"><a @click.prevent="changePage(n)">{{n}}</a></li>
                       <li :class="[model.next_page_url === null ? 'disabled' : '']"><a @click="next()">&raquo;</a></li>
                   </ul>
               </div>
           </div>
           <div class="panel-footer pagination-footer">
               <p>Pagination with Dots</p>
               <ul class="pagination">
                   <li :class="[model.current_page === range ? 'active' : '']" v-for="range in rangeWithDots" @click.prevent="changePage(range)"><a >{{range}}</a></li>
               </ul>
           </div>
           <div class="panel-footer pagination-footer">
               <paginate
                       :page-count="parseInt(model.last_page)"
                       :page-range="3"
                       :margin-pages="2"
                       :click-handler="clickCallback"
                       :prev-text="'Prev'"
                       :next-text="'Next'"
                       :container-class="'pagination'"
                       :page-class="'page-item'">
               </paginate>
           </div>
       </div>
       <data-table :title="title" :create="create" :filters="filters" :source="source" :theads="theads">
           <template scope="props">
                <tr v-for="item in props.items" @click="$router.push('/admin/customer/' + item.id)">
                    <td>{{item.id}}</td>
                    <td>{{item.company}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.created_at}}</td>
                </tr>
           </template>
       </data-table>
   </div>
</template>
<script>
    import Paginate from 'vuejs-paginate'
    import DataTable from '../components/DataTable.vue'
    export default {
        components: {
            Paginate,
            DataTable
        },
        data() {
            return {
                isLoading: true,
                isFetching: false,
                filterShow: false,
                // using data table
                title: 'Customer',
                source: '/api/customer',
                create: '/admin/customer/create',
                theads: [
                    {title: 'ID', key: 'id', sort: true, width: '35px'},
                    {title: 'Company', key: 'company', sort: true},
                    {title: 'Name', key: 'name', sort: true},
                    {title: 'Email', key: 'email', sort: true},
                    {title: 'Phone Number', key: 'phone', sort: false},
                    {title: 'Address', key: 'address', sort: true},
                    {title: 'Created_At', key: 'created_at', sort: true}
                ],
                // end using
                params: {
                    search_column: 'id',
                    search_operator: 'equal_to',
                    search_query_1: '',
                    search_query_2: '',
                    page: 1,
                    per_page: 10,
                    sort_column: 'id',
                    direction: 'desc'
                },
                filters: [
                    'id', 'name', 'email', 'company', 'address', 'phone', 'created_at'
                ],
                operators: {
                    equal_to    : '=',
                    less_than   : '<',
                    greater_than: '>',
                    like        : 'LIKE',
                    in          : 'IN',
                    not_in      : 'NOT_IN',
                    between    : 'BETWEEN'
                },
                model: {
                    data: []
                },
                rangeWithDots: []
            }
        },
        created() {
            this.fetchData();
        },
        watch: {

        },
        computed: {

        },
        methods: {
            fetchData() {
                this.$http.get(this.builUrl())
                    .then(res => {
                        this.model= res.data.model;
                        console.log(this.model);
                        this.rangeWithDots = this.pagination(this.model.current_page, this.model.last_page);
                    })
                    .catch(errors => console.log(errors))
                    .finally(() => {
                        this.isLoading = false
                        this.isFetching = false
                    })
            },
            builUrl() {
                let p = this.params;
                let url = `/api/customer?page=${p.page}&per_page=${p.per_page}&sort_column=${p.sort_column}&direction=${p.direction}&search_column=${p.search_column}&search_operator=${p.search_operator}&search_query_1=${p.search_query_1}&search_query_2=${p.search_query_2}`;
                return url;
            },
            next() {
                if(this.model.next_page_url) {
                    this.params.page++;
                    this.fetchData();
                }
            },
            prev() {
                if(this.model.prev_page_url) {
                    this.params.page--;
                    this.fetchData();
                }
            },
            changePage(n) {
                if(n === '...') {
                    return false;
                }
                this.isFetching = true;
                this.params.page = n;
                this.fetchData();
            },
            pagination(currentPage, no_of_pages) {
                let range=[], rangeWithDots=[], delta = 2, l;
                range.push(1);
                if(no_of_pages <= 1) {
                    return range;
                }
                for(let i = currentPage - delta; i < currentPage + delta + 3; i++) {
                    if(i < no_of_pages && i > 1) {
                        range.push(i);
                    }
                }
                range.push(no_of_pages);
                range.map(val => {
                    if(l) {
                        if(val - l === 2) {
                            rangeWithDots.push(l + 1);
                        } else if(val - l !== 1) {
                            rangeWithDots.push('...');
                        }
                    }
                    rangeWithDots.push(val);
                    l = val;
                });
               return rangeWithDots;
            },
            clickCallback(pageNum) {
                this.isFetching = true;
                this.params.page = pageNum;
                this.fetchData();
            }
        }
    }
</script>
<style scoped>
.data-table {
    position: relative;
}
.data-table .fetching {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center center;
}
    .progress {
        margin-top: 40%;
        height: 35px;
    }
</style>