<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{customer.company}} / {{customer.name}}</span>
            <div>
                <button class="btn btn-sm btn-primary" @click="$router.push('/admin/customer/' + customer.id + '/edit')">Edit</button>
                <button class="btn btn-sm btn-danger" @click="remove()">Delete</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <label>Company</label>
                    <p>{{customer.company}}</p>
                    <label>Name</label>
                    <p>{{customer.name}}</p>
                </div>
                <div class="col-sm-4">
                    <label>Email</label>
                    <p>{{customer.email}}</p>
                    <label>Phone Number</label>
                    <p>{{customer.phone}}</p>
                </div>
                <div class="col-sm-4">
                    <label>Created_at</label>
                    <p>{{customer.created_at}}</p>
                    <label>Address</label>
                    <p>
                        <textarea  cols="30" rows="3">{{customer.address}}</textarea>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            customer: {},
            redirect: '/admin/customer'
        }
    },
    created() {
        this.fetchData();
    },
    computed: {

    },
    watch: {
        '$route': 'fetchData'
    },
    methods: {
        fetchData() {
            this.$http.get('/api/customer/' + this.$route.params.id)
                .then(res => this.customer = res.data.customer)
                .catch(error => console.log(error))
        },
        remove() {
            if(confirm('Are you sure?')) {
                this.$http.delete('/api/customer/' + this.$route.params.id)
                    .then(res => {
                        if(res.data.deleted === true) {
                            this.$router.push(this.redirect);
                        }
                    })
                    .catch(error => console.log(error))
            }
        }
    }
}
</script>
<style>

</style>