<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{title}}</span>
            <div>
                <button class="btn btn-primary btn-sm" @click="$router.push(create)">Create</button>
                <button class="btn btn-success btn-sm" @click="filterShow = !filterShow">F</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="filter row" v-if="filterShow">
                <div class="filter-column">
                    <select class="form-control" v-model="params.search_column">
                        <option v-for="column in filters" :value="column">{{column}}</option>
                    </select>
                </div>
                <div class="filter-operator">
                    <select class="form-control" v-model="params.search_operator">
                        <option v-for="(operator, key) in operators" :value="key">{{operator}}</option>
                    </select>
                </div>
                <div class="filter-input">
                    <input type="text"
                           class="form-control"
                           v-model="params.search_query_1"
                           @keyup.enter="fetchData">
                </div>
                <div class="filter-input" v-if="params.search_operator === 'between'">
                    <input type="text"
                           class="form-control"
                           v-model="params.search_query_2"
                           @keyup.enter="fetchData">
                </div>
                <div class="btn">
                    <button class="btn btn-primary" @click.prevent="fetchData">Filter</button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-for="thead in theads">
                        <div v-if="thead.sort" @click="sort(thead.key)" :style="{width: thead.width}">
                            <span>{{thead.title}}</span>
                            <template v-if="params.sort_column === thead.key">
                                <span v-if="params.direction === 'asc'">&#x25B2</span>
                                <span v-else>&#x25BC</span>
                            </template>
                        </div>
                        <div v-else>
                            <span>{{thead.title}}</span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <slot :items="model.data"></slot>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="panel-footer pagination-footer">
                <div class="pagination-item">
                    <span>Per Page: </span>
                    <select v-model="params.per_page" @change="fetchData">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="pagination-item">
                    <small>Showing from {{model.from}} to {{model.to}} of {{model.total}}</small>
                </div>
                <div class="pagination-item">
                    <span>Current Page:</span>
                    <input type="text" class="pagination-input" v-model="params.page" @keyup.prevent="fetchData">
                    <span>of {{model.last_page}}</span>
                </div>
                <div class="pagination-item">
                    <button class="btn btn-default" :disabled="model.prev_page_url === null" @click="prev()">Prev</button>
                    <button class="btn btn-default" :disabled="model.next_page_url === null" @click="next()">Next</button>
                </div>
            </div>
            <div class="panel-footer pagination-footer">
                <div class="pagination-item">
                    <p>Number pagination</p>
                </div>
                <div class="pagination-item">
                    <ul class="pagination">
                        <li :class="[model.prev_page_url === null ? 'disabled' : '']"><a @click="prev()">&laquo;</a></li>
                        <li :class="[model.current_page === n ? 'active' : '']" v-for="n in model.last_page"><a @click.prevent="changePage(n)">{{n}}</a></li>
                        <li :class="[model.next_page_url === null ? 'disabled' : '']"><a @click="next()">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-footer pagination-footer">
                <p>Pagination with Dots</p>
                <ul class="pagination">
                    <li :class="[model.current_page === range ? 'active' : '']" v-for="range in rangeWithDots" @click.prevent="changePage(range)"><a >{{range}}</a></li>
                </ul>
            </div>
            <div class="panel-footer pagination-footer">
                <paginate
                        :page-count="parseInt(model.last_page)"
                        :page-range="3"
                        :margin-pages="2"
                        :click-handler="clickCallback"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'pagination'"
                        :page-class="'page-item'">
                </paginate>
            </div>
        </div>
    </div>
</template>
<script>
import Paginate from 'vuejs-paginate'
export default {
    components: {
        Paginate
    },
    props: ['title', 'theads', 'create', 'filters', 'source'],
    data() {
        return {
            filterShow: false,
            params: {
                search_column: 'id',
                search_operator: 'equal_to',
                search_query_1: '',
                search_query_2: '',
                page: 1,
                per_page: 10,
                sort_column: 'id',
                direction: 'desc'
            },
            operators: {
                equal_to    : '=',
                less_than   : '<',
                greater_than: '>',
                like        : 'LIKE',
                in          : 'IN',
                not_in      : 'NOT_IN',
                between    : 'BETWEEN'
            },
            model: {
                data: []
            },
            rangeWithDots: []
        }
    },
    created(){
        this.fetchData();
    },
    watch: {

    },
    computed: {

    },
    methods: {
        fetchData() {
            this.$http.get(this.builUrl())
                .then(response => {
                    this.model = response.data.model;
                    this.rangeWithDots = this.pagination(this.model.current_page, this.model.last_page);
                })
                .catch(error => console.log(error))
        },
        builUrl() {
            let p = this.params;
            return `${this.source}?page=${p.page}&per_page=${p.per_page}&search_column=${p.search_column}&search_query_1=${p.search_query_1}&search_query_2=${p.search_query_2}&search_operator=${p.search_operator}&sort_column=${p.sort_column}&direction=${p.direction}`;
        },
        next() {
            if(this.model.next_page_url) {
                this.params.page++;
                this.fetchData()
            }
        },
        prev() {
            if(this.model.prev_page_url) {
                this.params.page--;
                this.fetchData()
            }
        },
        changePage(n) {
            if(n === '...') {
                return false;
            }
            this.isFetching = true;
            this.params.page = n;
            this.fetchData();
        },
        pagination(currentPage, no_of_pages) {
            let range=[], rangeWithDots=[], delta = 2, l;
            range.push(1);
            if(no_of_pages <= 1) {
                return range;
            }
            for(let i = currentPage - delta; i < currentPage + delta + 3; i++) {
                if(i < no_of_pages && i > 1) {
                    range.push(i);
                }
            }
            range.push(no_of_pages);
            range.map(val => {
                if(l) {
                    if(val - l === 2) {
                        rangeWithDots.push(l + 1);
                    } else if(val - l !== 1) {
                        rangeWithDots.push('...');
                    }
                }
                rangeWithDots.push(val);
                l = val;
            });
            return rangeWithDots;
        },
        clickCallback(pageNum) {
            this.isFetching = true;
            this.params.page = pageNum;
            this.fetchData();
        },
        sort(column) {
            this.params.sort_column = column;
            if(this.params.direction === 'desc') {
                this.params.direction = 'asc'
            } else {
                this.params.direction = 'desc';
            }
            this.fetchData();
        }
    }
}
</script>
<style scoped>

</style>