<template>
   <div class="panel panel-default">
       <div class="panel-heading">
           <span class="panel-title">Invoice</span>
           <div>
               <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalCreate" @click="form = {}">Create</button>
               <button class="btn btn-success btn-sm" @click="filterShow = !filterShow">F</button>
           </div>
       </div>
       <div class="panel-body">
           <div class="filter row" v-if="filterShow">
               <div class="filter-column">
                   <select class="form-control" v-model="params.search_column">
                       <option v-for="column in filters" :value="column">{{column}}</option>
                   </select>
               </div>
               <div class="filter-operator">
                   <select class="form-control" v-model="params.search_operator">
                       <option v-for="(operator, key) in operators" :value="key">{{operator}}</option>
                   </select>
               </div>
               <div class="filter-input">
                   <input type="text"
                          class="form-control"
                          v-model="params.search_query_1"
                          @keyup.prevent="fetchData">
               </div>
               <div class="filter-input" v-if="params.search_operator === 'between'">
                   <input type="text"
                          class="form-control"
                          v-model="params.search_query_2"
                          @keyup.prevent="fetchData">
               </div>
               <div class="btn">
                   <button class="btn btn-primary" @click.prevent="fetchData">Filter</button>
               </div>
           </div>
           <div class="table-responsive">
               <table class="table table-striped table-bordered">
                   <thead>
                   <tr>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Address</th>
                       <th>Action</th>
                   </tr>
                   </thead>
                   <tbody>
                       <tr v-for="item in model.data">
                           <td>{{item.name}}</td>
                           <td>{{item.email}}</td>
                           <td>{{item.address}}</td>
                           <td class="action">
                               <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalShow" @click.prevent="show(item.id)">Show</button>
                               <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEdit" @click.prevent="showEdit(item.id)">Edit</button>
                               <button class="btn btn-danger btn-sm" @click.prevent="remove(item.id)">Delete</button>
                           </td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
           <div class="panel-footer pagination-footer">
               <div class="pagination-item">
                   <span>Per Page: </span>
                   <select v-model="params.per_page" @change="fetchData">
                       <option value="10">10</option>
                       <option value="15">15</option>
                       <option value="25">25</option>
                       <option value="50">50</option>
                   </select>
               </div>
               <div class="pagination-item">
                   <small>Showing from {{model.from}} to {{model.to}} of {{model.total}}</small>
               </div>
               <div class="pagination-item">
                   <span>Current Page:</span>
                   <input type="text" class="pagination-input" v-model="params.page" @keyup.prevent="fetchData">
                   <span>of {{model.last_page}}</span>
               </div>
               <div class="pagination-item">
                   <button class="btn btn-default" :disabled="model.prev_page_url === null" @click="prev()">Prev</button>
                   <button class="btn btn-default" :disabled="model.next_page_url === null" @click="next()">Next</button>
               </div>
           </div>
           <div class="panel-footer pagination-footer">
               <div class="pagination-item">
                   <p>Number pagination</p>
               </div>
               <div class="pagination-item">
                   <ul class="pagination">
                       <li :class="[model.prev_page_url === null ? 'disabled' : '']"><a @click="prev()">&laquo;</a></li>
                       <li :class="[model.current_page === n ? 'active' : '']" v-for="n in model.last_page"><a @click.prevent="changePage(n)">{{n}}</a></li>
                       <li :class="[model.next_page_url === null ? 'disabled' : '']"><a @click="next()">&raquo;</a></li>
                   </ul>
               </div>
           </div>
           <div class="panel-footer pagination-footer">
               <p>Pagination with Dots</p>
               <ul class="pagination">
                   <li :class="[model.current_page === range ? 'active' : '']" v-for="range in rangeWithDots" @click.prevent="changePage(range)"><a >{{range}}</a></li>
               </ul>
           </div>
           <div class="panel-footer pagination-footer">
               <paginate
                       :page-count="parseInt(model.last_page)"
                       :page-range="3"
                       :margin-pages="2"
                       :click-handler="clickCallback"
                       :prev-text="'Prev'"
                       :next-text="'Next'"
                       :container-class="'pagination'"
                       :page-class="'page-item'">
               </paginate>
           </div>
       <!-- Modal Show-->
       <div id="modalShow" class="modal fade" role="dialog">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">{{customer.name}}</h4>
                   </div>
                   <div class="modal-body">
                       <div class="row">
                           <div class="col-sm-4">
                               <label>Name</label>
                               <p>{{customer.name}}</p>
                           </div>
                           <div class="col-sm-4">
                               <label>Email</label>
                               <p>{{customer.email}}</p>
                           </div>
                           <div class="col-sm-4">
                               <label>Address</label>
                               <p>
                                   <textarea cols="30" rows="4">{{customer.address}}</textarea>
                               </p>
                           </div>
                       </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>

           </div>
       </div>
       <!-- End Model Show-->
       <!-- Model Edit-->
       <div id="modalEdit" class="modal fade" role="dialog">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">{{form.name}} / {{form.company}}</h4>
                   </div>
                   <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" v-model="form.name" class="form-control">
                                    <small class="text-danger" v-if="errors['name']">{{errors['name'][0]}}</small>
                                </div>
                                <div class="form-group">
                                    <label>Company</label>
                                    <input type="text" class="form-control" v-model="form.company">
                                    <small class="text-danger" v-if="errors['company']">{{errors['company'][0]}}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" v-model="form.email">
                                    <small class="text-danger" v-if="errors['email']">{{errors['email'][0]}}</small>
                                </div>
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" v-model="form.phone">
                                    <small class="text-danger" v-if="errors['phone']">{{errors['phone'][0]}}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Address</label>
                                    <p>
                                        <textarea cols="40" rows="5" v-model="form.address"></textarea>
                                    </p>
                                    <small class="text-danger" v-if="errors['address']">{{errors['address'][0]}}</small>
                                </div>
                            </div>
                        </div>
                   </div>
                   <div class="modal-footer">
                       <button class="btn btn-primary" @click.prevent="update(form.id)">Update</button>
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Model Edit-->

       <!-- Model Create-->
       <div id="modalCreate" class="modal fade" role="dialog">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Create</h4>
                   </div>
                   <div class="modal-body">
                       <div class="row">
                           <div class="col-sm-4">
                               <div class="form-group">
                                   <label>Name</label>
                                   <input type="text" v-model="form.name" class="form-control">
                                   <small class="text-danger" v-if="errors['name']">{{errors['name'][0]}}</small>
                               </div>
                               <div class="form-group">
                                   <label>Company</label>
                                   <input type="text" class="form-control" v-model="form.company">
                                   <small class="text-danger" v-if="errors['company']">{{errors['company'][0]}}</small>
                               </div>
                           </div>
                           <div class="col-sm-4">
                               <div class="form-group">
                                   <label>Email</label>
                                   <input type="text" class="form-control" v-model="form.email">
                                   <small class="text-danger" v-if="errors['email']">{{errors['email'][0]}}</small>
                               </div>
                               <div class="form-group">
                                   <label>Phone Number</label>
                                   <input type="text" class="form-control" v-model="form.phone">
                                   <small class="text-danger" v-if="errors['phone']">{{errors['phone'][0]}}</small>
                               </div>
                           </div>
                           <div class="col-sm-4">
                               <div class="form-group">
                                   <label>Address</label>
                                   <p>
                                       <textarea cols="40" rows="5" v-model="form.address"></textarea>
                                   </p>
                                   <small class="text-danger" v-if="errors['address']">{{errors['address'][0]}}</small>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="modal-footer">
                       <button class="btn btn-primary" @click.prevent="create()">Create</button>
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Model Create-->

   </div>
</template>
<script>
import Paginate from 'vuejs-paginate'
export default {
    components: {
        Paginate
    },
    data() {
        return {
            isLoading: true,
            isFetching: false,
            filterShow: false,
            title: 'Invoice',
            params: {
                search_column: 'id',
                search_operator: 'equal_to',
                search_query_1: '',
                search_query_2: '',
                page: 1,
                per_page: 10,
                sort_column: 'id',
                direction: 'desc'
            },
            filters: [
                'id', 'name', 'email', 'company', 'address', 'phone', 'created_at'
            ],
            operators: {
                equal_to    : '=',
                less_than   : '<',
                greater_than: '>',
                like        : 'LIKE',
                in          : 'IN',
                not_in      : 'NOT_IN',
                between    : 'BETWEEN'
            },
            model: {
                data: []
            },
            form: {},
            errors: {},
            customer: {},
            rangeWithDots: []
        }
    },
    created() {
        this.fetchData();
    },
    computed: {

    },
    watch: {

    },
    methods: {
        fetchData() {
            this.$http.get(this.builUrl())
                .then(res => {
                    this.model = res.data.model;
                    console.log(this.model);
                    this.rangeWithDots = this.pagination(this.model.current_page, this.model.last_page);
                })
                .catch(errors => console.log(errors))
                .finally(() => {
                    this.isLoading = false;
                    this.isFetching = false;
                })
        },
        builUrl() {
            let p = this.params;
            let url = `/api/customer?page=${p.page}&per_page=${p.per_page}&sort_column=${p.sort_column}&direction=${p.direction}&search_column=${p.search_column}&search_operator=${p.search_operator}&search_query_1=${p.search_query_1}&search_query_2=${p.search_query_2}`;
            return url;
        },
        show(Id) {
            this.customer = {};
            this.$http.get('/api/customer/' + Id)
                .then(res => this.customer = res.data.customer)
                .catch(error => console.log(error))
        },
        showEdit(Id) {
            this.form = {};
            this.$http.get('/api/customer/' + Id + '/edit')
                .then(res => this.form = res.data.form)
                .catch(error => console.log(error))
        },
        update(Id) {
            let url = `/api/customer/${Id}`;
            this.$http.put(url, this.form)
                .then(response => {
                    if(response.data.saved === true) {
                        $('#modalEdit').modal('hide');
                        this.fetchData();
                    }
                })
                .catch(error => this.errors = error.data)
                .finally()
        },
        create() {
            this.$http.post('/api/customer', this.form)
                .then(res => {
                    if(res.data.saved === true) {
                        $('#modalCreate').modal('hide');
                        this.fetchData();
                    }
                })
                .catch(error => this.errors = error.data)
        },
        remove(Id) {
            if(confirm('Are you sure?')) {
                this.$http.delete(`/api/customer/${Id}`)
                    .then(res => {
                        if(res.data.deleted === true) {
                            this.fetchData();
                        }
                    })
                    .catch(error => console.log(error))
            }
        },
        next() {
            if(this.model.next_page_url) {
                this.params.page++;
                this.fetchData();
            }
        },
        prev() {
            if(this.model.prev_page_url) {
                this.params.page--;
                this.fetchData();
            }
        },
        changePage(n) {
            if(n === '...') {
                return false;
            }
            this.isFetching = true;
            this.params.page = n;
            this.fetchData();
        },
        pagination(currentPage, no_of_pages) {
            let range=[], rangeWithDots=[], delta = 2, l;
            range.push(1);
            if(no_of_pages <= 1) {
                return range;
            }
            for(let i = currentPage - delta; i < currentPage + delta + 3; i++) {
                if(i < no_of_pages && i > 1) {
                    range.push(i);
                }
            }
            range.push(no_of_pages);
            range.map(val => {
                if(l) {
                    if(val - l === 2) {
                        rangeWithDots.push(l + 1);
                    } else if(val - l !== 1) {
                        rangeWithDots.push('...');
                    }
                }
                rangeWithDots.push(val);
                l = val;
            });
            return rangeWithDots;
        },
        clickCallback(pageNum) {
            this.isFetching = true;
            this.params.page = pageNum;
            this.fetchData();
        }
    }
}
</script>
<style scoped>
    .table .action {
        width: 250px;
        text-align: center;
    }
    .modal-dialog {
        width: 80%;
    }
</style>